<md-card>
  <md-card-header>
    <md-card-avatar>
      <md-icon aria-label="bulb-state" class="material-icons" style="font-size: 24px;">lightbulb_outline</md-icon>
    </md-card-avatar>
    <md-card-header-text>
      <span class="md-title">Philips Hue</span>
      <span class="md-subhead">{{ item.name }}</span>
    </md-card-header-text>
    <div class="glyph" layout="row" flex>
      <div flex layout-align="center center" style="text-align: center;" layout="column" ng-repeat="(key, state) in states">
        <div flex></div>
        <div class="preview-glyphs">
          <md-icon aria-label="title" class="material-icons" style="font-size: 24px;">{{ state.icon.on }}</md-icon>
        </div>
        <div class="preview-scale">
          <span class="step" style="font-size: 14px; color: rgba(0,0,0,0.54);">{{ getStateValue(key, 'message') }}</span>
        </div>
      </div>
    </div>
  </md-card-header>
  <!--<img ng-src="{{imagePath}}" class="md-card-image" alt="Washed Out">-->

  <!--<md-card-title>
    <md-card-title-text>
      <span class="md-headline">Today's meeting count: {{ meetings }}</span>
    </md-card-title-text>
  </md-card-title>-->

  <div style="padding: 0 16px;">Today's meeting count: {{ meetings }}</div>

  <div id="forecast" style="height: 400px;"></div>

  <!--<md-card-content>
    <p>
      Today's meeting count: {{ meetings }}
    </p>
  </md-card-content>-->

  <div layout layout-align="center center">
    <div layout flex="90">
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">Bri</span>
      </div>
      <md-slider ng-click="briSetted()" flex min="0" max="255" ng-model="bri" aria-label="red" id="red-slider">
      </md-slider>
      <div flex="20" layout layout-align="center center">
        <input flex type="number" int-to-number ng-model="bri" aria-label="red" aria-controls="red-slider" ng-disabled="true">
      </div>
    </div>
  </div>

  <md-card-actions layout="row" layout-align="end center">
    <md-button class="md-icon-button" aria-label="show_chart" ng-click="forecast()">
      <md-icon aria-label="show_chart" class="material-icons" style="font-size: 24px;">show_chart</md-icon>
      <md-tooltip md-direction="bottom">
        trigger a forecast manually
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="training" ng-click="train()">
      <md-icon aria-label="training" class="material-icons" style="font-size: 24px;">update</md-icon>
      <md-tooltip md-direction="bottom">
        simulate training data for the neural net
      </md-tooltip>
    </md-button>
    <md-button class="md-icon-button" aria-label="bulb-switch" ng-click="switch()">
      <md-icon aria-label="bulb-switch" class="material-icons" style="font-size: 24px;">lightbulb_outline</md-icon>
      <md-tooltip md-direction="bottom">
        switch the bulb
      </md-tooltip>
    </md-button>
    <!--<md-button class="md-icon-button" aria-label="share">
      <md-icon aria-label="share" class="material-icons" style="font-size: 24px;">share_arrow</md-icon>
    </md-button>-->
  </md-card-actions>
</md-card>
